* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.ver-carrito{
    cursor: pointer;
    right: 20px; 
    margin-top: -4rem;
    margin-right: 0rem;
    text-align: right;
    position: absolute;
    display: inline;
}
body {
    background: #01233f;
}

nav {
    background: #021222;
    height: 5rem;
    position: relative;
}

.container {
    margin: left;
    display: flex;
    max-width: 100%;
    line-height: 5rem;
    z-index: 100;

}

.container-logo {
    margin-left: 1.25rem;
    z-index: 10;
    cursor: pointer;
}

.container-logo h2 {
    color: #95bdd8;
    /* font-weight: 300; */
    font-size: 2.1875rem;
    letter-spacing: 2px;
    margin-right: 11rem;
}

.container-logo h2 span {
    color: #0590ec;
    font-weight: 700;
}

.links .link {
    display: inline-block;
    justify-content: center;
}

.links .link a {
    justify-content: center;
    text-decoration: none;
    color: #d1faf4;
    font-size: 1.25rem;
    margin: 0 1.25rem;
    letter-spacing: 3px;
    transition: .3s;

}

.links .link a:hover {
    color: #487abb;
}

.toggle {
    color: #d1faf4;
    margin-right: 1.25rem;
    font-size: 1,875rem;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .3s;
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

@media screen and (max-width: 50rem){
    .toggle {
        display: inline-block;
    }

    .links .ver-carrito {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #051c38;
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 5rem);
        width: 100%; 
        z-index: 1;
        top: -100vh;
        transition: .5s;
    }

    .active {
        top: 7rem;
    }

    .links .link:hover {
        background: #051c38;
    }


/* .buscador {
    margin-top:.5rem
    
  } */

}
  /* tarjetas */
.shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1.875rem;
    margin-left: 5rem;
    margin-right: 5rem;
    }
    .card {
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 79, 226, 0.205);
        width: 16rem;
        margin: auto;
        margin-top: 2.2rem;
        margin-left: 1.1rem;
        text-align: center;
        font-family: arial;
        border:solid;
        border-radius: 15px 15px 0 0;
        border-color: black;
    }
    .card > img{
        width: 90%;
        height: 15.625rem;
    }
    .name{
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }
    .price {
        color: rgb(0, 0, 0);
        font-size: 1rem;
    background-color: rgb(255, 255, 255)
    }
    .card button {
        width: 100%;
        outline: 0;
        padding: 0.75rem;
        color: white;
        background-color: #000;
        cursor: pointer;
    }
    .card button:hover {
        opacity: 0.7;
    }

/* modal */
.modal-container{
    width: 80%;
    margin: 0 53.2% ;
    max-width: 38rem;
    max-height: 30rem;
    color: #fff;
    background-color: #021222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;

    position:absolute;
    overflow: auto;
    z-index: 9;
    top: 5rem;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar{
    display: none;
}
.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: #010c16;
    color: rgb(255, 255, 255);
    width: 100%;
}

.modal-header-title{
    justify-self: start;
}

.modal-header-button{
    cursor: pointer;
}

.modal-container > .modal-content {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 10px;
    word-spacing: normal;
}

.modal-container > div > img {
    
    height: 7.5rem;
    width: 7.5rem;
}
.realizar-compra{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #010c16;
    border: none;
    width: 100%;
    cursor: pointer;
    
}
.total-content{
font-size: 20px;
padding: 2px;
text-align: center;
padding-top: 20px;
}


.delete-product{
    cursor: pointer;
}
    
.cantidad-carrito{
    background-color: #95bdd8;
    color: #fff;
    border-radius: 50%;
    font-size: .8rem;
    padding: 7px;
    top: 37px;
    right: 16px;
    position: absolute;
    display: none;
}
    
.sumar{
    cursor: pointer;
    background-color: #000407;
    color: #fff;
    border-radius: 50%;
    padding: 4px;
    }
.restar{
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    border-radius: 50%;
    padding: 4px;
}


.modal-content-compra {
    font-size: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 10px;
    word-spacing: normal;
}
.textoFincompra{
    text-align: center;
    padding-top: 10px;
}

    
.email-input {
    font-size: 20px;
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 10px;
    word-spacing: normal;
}
.nombre-input{
    font-size: 20px;
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 10px;
    word-spacing: normal;
}

.total-content-compra{
    font-size: 25px;
    padding: 2px;
    text-align: center;
    padding-top: 20px;
    }


.spinner-border{
    display: block;
    width: 100%;
    height: 100%;
}